---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
      date: "Mayo 2024 – Actualidad",
      title: "Practicante Profesional / Desarrollador Web",
      company: "Centro Nacional de Planeamiento Estratégico (CEPLAN)",
      description: "Responsable del desarrollo del módulo de encuestas utilizando Angular (Frontend) y Node.js (Backend) con integración de APIs. Gestioné el control de versiones mediante Azure DevOps y administré bases de datos para garantizar eficiencia en el almacenamiento y recuperación de datos. Implementé un aula virtual con Moodle, desarrollando cursos MOOC con contenido interactivo (H5P) y material multimedia con Adobe Premiere. Diseñé una Landing Page con PHP, HTML, CSS y JavaScript, además de crear mockups para mejorar la UX/UI. Realicé pruebas QA, administré usuarios/roles, y propuse un prototipo de app móvil para el observatorio. Optimicé procesos mediante RPA para automatizar la carga de información y colaboré en nuevas funcionalidades web.",
  },
  {
    date: "2019 - 2023",
    title: "Diseñador y Desarrollador Web",
    company: "Training Crane S.A.C.",
    description:
      "Encargado del diseño y desarrollo de la identidad digital de la empresa, incluyendo logotipos y banners corporativos. Dirigí la creación de una página web institucional y sistemas de certificación, así como la implementación de Moodle como plataforma de aprendizaje virtual. Capacité a los usuarios y planifiqué el mantenimiento de los sistemas. Propuse y lideré el desarrollo de una aplicación móvil para la validación de certificados, mejorando la eficiencia y credibilidad del proceso de certificación.",
    link: "https://trainingcrane.pe/",
  },
  {
    date: "mayo - junio 2023",
    title: "Monitor de Proyectos Sociales",
    company: "Universidad Continental",
    description:
      "Trabajé en estrecha colaboración con equipos multidisciplinarios para garantizar el cumplimiento de los objetivos del proyecto, liderando y motivando a los equipos hacia un ambiente de trabajo colaborativo y eficiente. Proporcioné liderazgo en la ejecución de proyectos presenciales, asegurando el cumplimiento de los plazos y la calidad del trabajo, mientras fomentaba una comunicación efectiva dentro de los equipos para garantizar un flujo de información adecuado. Contribuí al éxito general del proyecto mediante mi capacidad para trabajar en equipo y liderar equipos multidisciplinarios.",
  },
  {
    date: "diciembre 2022 - febrero 2023",
    title: "Técnico en Informática",
    company: "Solutions Technologies S.C.R.L.",
    description:
      "Coordiné y ejecuté la clonación de equipos informáticos (PC) para los empleados de SUNARP, así como la migración de equipos informáticos, incluyendo PC y laptops, tanto para SUNARP como para ELECTROCENTRO. Me encargué de configurar los nuevos equipos y aseguré una transferencia exitosa de datos y archivos desde los dispositivos antiguos a los nuevos, garantizando la continuidad operativa sin pérdida de información valiosa. ",
  },
  {
    date: "noviembre 2021 - febrero 2022",
    title: "Diseñador y Desarrollador Web",
    company: "Phaway",
    description:
      "Desarrollé la página web utilizando WordPress, asegurando un diseño y funcionalidades óptimas para satisfacer las necesidades del cliente. Además, creé un Sistema de Alarmas personalizado para los docentes, ofreciendo una solución eficiente para la gestión de alertas y notificaciones. Desarrollé una API para el consumo del Robot Phaway, facilitando la integración de este sistema con otras plataformas. Como parte de mis responsabilidades, administré tanto el servidor web como la Base de Datos MySQL, garantizando su correcto funcionamiento y seguridad. Implementé manuales de usuario detallados para el sistema de alarmas y la administración de la página web, facilitando su uso y gestión por parte del personal correspondiente.",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
